<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <strong>Vessels</strong> New
        </div>
        <div class="card-body">
          <form action="" method="post" class="form-horizontal">
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="hf-name">Name</label>
              <div class="col-md-9">
                <input type="text" id="hf-name" name="hf-name" class="form-control" placeholder="Enter Vessel Name..">
                <!-- <span class="help-block">Please enter vessel name</span> -->
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="hf-position">Position</label>
              <div class="col-md-9">
                <input type="text" id="hf-position" name="hf-position" class="form-control" placeholder="Enter Vessel Position..">
                <!-- <span class="help-block">Please enter vessel position</span> -->
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="hf-size">Size</label>
              <div class="col-md-9">
                <input type="number" id="hf-size" name="hf-size" class="form-control" placeholder="Enter Vessel Size..">
                <!-- <span class="help-block">Please enter vessel size</span> -->
              </div>
            </div>
          </form>
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
          <!-- <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button> -->
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <strong>Vessels</strong> List
        </div>
        <div class="card-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Username</th>
                <th>Date registered</th>
                <th>Role</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Yiorgos Avraamu</td>
                <td>2012/01/01</td>
                <td>Member</td>
                <td>
                  <span class="badge badge-success">Active</span>
                </td>
              </tr>
              <tr>
                <td>Avram Tarasios</td>
                <td>2012/02/01</td>
                <td>Staff</td>
                <td>
                  <span class="badge badge-danger">Banned</span>
                </td>
              </tr>
              <tr>
                <td>Quintin Ed</td>
                <td>2012/02/01</td>
                <td>Admin</td>
                <td>
                  <span class="badge badge-secondary">Inactive</span>
                </td>
              </tr>
              <tr>
                <td>Enéas Kwadwo</td>
                <td>2012/03/01</td>
                <td>Member</td>
                <td>
                  <span class="badge badge-warning">Pending</span>
                </td>
              </tr>
              <tr>
                <td>Agapetus Tadeáš</td>
                <td>2012/01/21</td>
                <td>Staff</td>
                <td>
                  <span class="badge badge-success">Active</span>
                </td>
              </tr>
            </tbody>
          </table>
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
            <li class="page-item active">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
