<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-9">
      <div class="card card-accent-info mb-3">
        <div class="card-header d-flex pb-0">
          <div>Search Parameters</div>
          <div class="ml-auto">
            <label class="switch switch-pill switch-success">
              <input type="checkbox" class="switch-input" checked>
              <span class="switch-slider"></span>
              <!-- Show Distances -->
            </label>
          </div>
        </div>
        <div class="card-body text-info">
          <form>
            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="emergency">Emergency</label>
                <select class="form-control" id="emergency" [(ngModel)]="emergency">
                  <option *ngFor="let e of emergencies">{{e.name}}</option>
                </select>
              </div>
              <div class="form-group col-md-4">
                <label for="responseRadius" style="margin-bottom: 16px;">
                  Response Radius (<span>{{responseRadius}}</span>)
                </label>
                <input type="range" class="form-control-range" 
                       id="responseRadius" 
                       name="responseRadius"
                       [(ngModel)]="responseRadius">
              </div>
              <div class="form-group col-md-4">
                <label for="positionsReceivedInLast" style="margin-bottom: 16px;">
                  Positions Received in Last (<span>{{positionsReceivedInLast}}</span>)
                </label>
                <input type="range" class="form-control-range" 
                       id="positionsReceivedInLast"
                       name="positionsReceivedInLast"
                       [(ngModel)]="positionsReceivedInLast">
              </div>
            </div>
            <button type="button" class="btn btn-primary" (click)="search()">Submit</button>
          </form>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <!-- TODO: refactor into a separate component -->
      <div class="brand-card">
        <div class="brand-card-header bg-twitter">
          <i class="fa fa-ship"></i>
        </div>
        <div class="brand-card-body">
          <div>
            <div class="text-value">2</div>
            <div class="text-uppercase text-muted small">vessels found</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <tabset>
        <tab>
          <ng-template tabHeading><i class="icon-globe"></i> Emergency Response (Surface)</ng-template>

          <table class="table">
            <thead>
              <tr>
                <th>Vessel</th>
                <th>Distance</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let av of availableVessels">
                <td>{{av.name}}</td>
                <td>20</td>
                <td>
                  <span class="badge badge-success">Active</span>
                </td>
              </tr>
            </tbody>
          </table>
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
            <li class="page-item active">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>

        </tab>
        <tab>
          <ng-template tabHeading><i class="icon-calculator"></i> Shipping/Logistics</ng-template>
          2. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
          nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
          id est laborum.
        </tab>
        <tab>
          <ng-template tabHeading><i class="icon-pie-chart"></i> BOP Kit</ng-template>
          4. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
          nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
          id est laborum.
        </tab>
      </tabset>
    </div>
  </div>
</div>